body {
  text-align: center;
  background-color: #000000;
}

h1 {
  font-size: 5rem;
  color: #af3030;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #043174;

}

footer {
  color: #647276;
  font-family: "Arvo";
}

.w {
  background-image: url("icons/crash.png");
  background-size: 106%;
}

.a {
  background-image: url("icons/drum1.png");
  background-size: 100%;
}

.s {
  background-image: url("icons/drum2.png");
  background-size: 100%;
}

.d {
  background-image: url("icons/drum3.png");
  background-size: 100%;
}

.j {
  background-image: url("icons/drum4.png");
  background-size: 100%;
}

.k {
  background-image: url("icons/kick.png");
  background-size: 100%;
}

.l {
  background-image: url("icons/snare.png");
  background-size: 100%;
}

.set {
  margin: 10% auto;
}

.drum {
  outline: none;
  border: 7px solid #4d0404;
  font-size: 3rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #7d130b;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: left;
  margin: 10px;
  padding-top: 60px;
}
